{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- assign name = 'excerpt.image_style' -%}
{%- include functions.html func='get_value' default='z' -%}
{%- assign image_style = return | append: '-image-style' -%}

{%- comment -%} hidden: true인 포스트 제외 {%- endcomment -%}
{%- assign visible_posts = paginator.posts | where_exp: "post", "post.hidden != true and post.hidden != 'true'" -%}

{%- if visible_posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list {{ image_style }}">
    <!-- Top list item -->
    {%- if paginator == site or paginator.page == 1 -%}
      {%- assign post_item_class = "top-post" -%}
      {%- assign posts = site.posts
        | where_exp: "item", "item.top > 0"
        | where_exp: "item", "item.hidden != true and item.hidden != 'true'"
        | sort: "top" -%}
      {%- for post in posts -%}
        {%- include views/pagination-item.html -%}
      {%- endfor -%}
    {%- endif -%}

    <!-- Normal list item -->
    {%- assign post_item_class = "" -%}
    {%- for post in visible_posts -%}
      {%- if post.top -%}
        {%- continue -%}
      {%- endif -%}
      {%- include views/pagination-item.html -%}
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- assign all_visible_posts = site.posts | where_exp: "post", "post.hidden != true and post.hidden != 'true'" -%}
  {%- if visible_posts.size < all_visible_posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
